# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.vscode/

# next.js
/.next/
/out/

# production
/build
tsc_*
npm_*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
eslint_report.json

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
