version: "3.9"

services:
  vectobeat:
    container_name: vectobeat
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      CONFIG_PATH: /src/config.yml
      METRICS_ENABLED: "${METRICS_ENABLED:-true}"
      METRICS_HOST: 0.0.0.0
      METRICS_PORT: "9333"
      METRICS_INTERVAL: "${METRICS_INTERVAL:-15}"
    volumes:
      - ./config.yml:/src/config.yml:ro
      - ./data:/src/data
    ports:
      - "9333:9333"
