__pycache__
*.py[cod]
*$py.class
.git
.github
.vscode
.idea
*.log
.env
venv
.venv
env
.env
target
dist
build
eggs
.eggs
*.egg-info
*.egg
.mypy_cache
.pytest_cache
.coverage
htmlcov
.DS_Store
Thumbs.db
Dockerfile
README.md
