discord.py>=2.3.2
python-dotenv>=1.0.0
PyYAML>=6.0.1
pydantic>=2.4.2
PyNaCl>=1.6.2
lavalink>=5.9.0
redis>=5.0.1
prometheus-client>=0.20.0
pyinstrument>=5.1.1
aiohttp>=3.13.3
aiofiles>=23.2.1
pytest>=8.0.0
pytest-html>=4.1.1
pytest-asyncio>=0.23.0
pytest-cov>=5.0.0
